In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
0,0,Kayla Howell,NaN,112,Male,Lake Benjamin,0,Electronics©,Smart Watches,384.37,...,862,25,2022-03-06,54,Jasonborough,15745,2,Miller-Pearson,Clarkmouth,9.83
1,1,Wanda Graham,brianfisher@example.com,65,Female,West Joshua,1,Electronics,Cameras,331.40,...,549,254,2020-11-23,6,Dawnport,7291,2,Miller-Pearson,Clarkmouth,9.83
2,2,Raymond James,brownfred@example.com,21,Male,Sweeneyton,2,Electronics,Mobile Phones,534.75,...,656,236,2022-02-10,236,Hallview,10609,8,Parks-Gallegos,Jenkinsside,6.82
3,3,Thomas Smith,anthonyleon@example.com,68,Female,Lake Matthew,3,Furniture,Cabinets,259.52,...,621,88,2021-07-04,239,Mckenzieton,16255,5,Morgan LLC,Port Robynmouth,1.23
4,4,Matthew Lee,david54@example.org,66,Female,West Kristinbury,4,Clothing,T-Shirts,800.64,...,557,385,2022-08-16,289,Port Austin,16559,2,Miller-Pearson,Clarkmouth,9.83

In [7]:
df.shape

(9999, 28)

In [8]:
df.columns

Index(['CustomerID', 'Name', 'Email', 'Age', 'Gender', 'Location', 'ProductID',
       'Category', 'Subcategory', 'Price', 'Weight', 'Dimensions', 'OrderID',
       'Date_Order', 'TotalAmount', 'ShippingMethod', 'Status', 'InventoryID',
       'StockLevel', 'RestockThreshold', 'LastRestockDate', 'WarehouseID',
       'Location_warehouse', 'Capacity', 'SupplierID', 'Company',
       'Location_Supplier', 'QualityScore'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          9999 non-null   int64
 1   Name                9999 non-null   object
 2   Email               9899 non-null   object
 3   Age                 9999 non-null   int64
 4   Gender              9999 non-null   object
 5   Location            9999 non-null   object
 6   ProductID           9999 non-null   int64
 7   Category            9999 non-null   object
 8   Subcategory         9999 non-null   object
 9   Price               9999 non-null   float64
 10  Weight              9999 non-null   float64
 11  Dimensions          9999 non-null   object
 12  OrderID             9999 non-null   int64
 13  Date_Order          9999 non-null   object
 14  TotalAmount         9999 non-null   object
 15  ShippingMethod      9999 non-null   object
 16  Status              9999 non-null   object
 17  InventoryID         9999 non-null   int64
 18  StockLevel          9999 non-null   int64
 19  RestockThreshold    9999 non-null   int64
 20  LastRestockDate     9999 non-null   object
 21  WarehouseID         9999 non-null   int64
 22  Location_warehouse  9999 non-null   object
 23  Capacity            9999 non-null   int64
 24  SupplierID          9999 non-null   int64
 25  Company             9999 non-null   object
 26  Location_Supplier   9999 non-null   object
 27  QualityScore        8960 non-null   float64
dtypes: float64(3), int64(10), object(15)
memory usage: 2.1+ MB

In [12]:
df.describe()

,CustomerID,Age,ProductID,Price,Weight,OrderID,InventoryID,StockLevel,RestockThreshold,WarehouseID,Capacity,SupplierID,QualityScore
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,8960.000000
mean,4999.000000,44.445545,10.851085,500.500877,25.366433,4999.000000,4999.000000,498.626963,253.219222,248.341434,12444.90179,4.490449,5.850890
std,2886.607005,16.238477,11.452692,284.881788,14.327457,2886.607005,2886.607005,290.985261,141.788026,143.145750,4279.76558,2.882004,2.862797
min,0.000000,-7.000000,0.000000,5.020000,0.500000,0.000000,0.000000,1.000000,10.000000,0.000000,5037.00000,0.000000,1.230000
25%,2499.500000,31.000000,3.000000,254.710000,12.770000,2499.500000,2499.500000,244.000000,129.000000,125.000000,8821.00000,2.000000,2.480000
50%,4999.000000,44.000000,9.000000,501.010000,25.480000,4999.000000,4999.000000,491.000000,252.000000,249.000000,12771.00000,5.000000,6.820000
75%,7498.500000,57.000000,13.000000,746.345000,37.785000,7498.500000,7498.500000,756.000000,375.000000,371.000000,15936.00000,7.000000,7.810000
max,9998.000000,191.000000,48.000000,999.830000,50.000000,9998.000000,9998.000000,1000.000000,500.000000,499.000000,19980.00000,9.000000,9.830000

In [54]:
dfn = pd.read_csv("data.csv", usecols = ['CustomerID', 'Name', 'Email', 'Age', 'Gender', 'Location', 'ProductID',
       'Category', 'Subcategory', 'Price', 'Weight', 'Dimensions', 'OrderID',
       'Date_Order', 'TotalAmount', 'ShippingMethod', 'Status'])

In [55]:
dfn.head(20)

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,Weight,Dimensions,OrderID,Date_Order,TotalAmount,ShippingMethod,Status
0,0,Kayla Howell,NaN,112,Male,Lake Benjamin,0,Electronics©,Smart Watches,384.37,16.16,33x13x47,0,2021-08-04,£280.09,Express,Pending
1,1,Wanda Graham,brianfisher@example.com,65,Female,West Joshua,1,Electronics,Cameras,331.40,21.85,8x49x50,1,03-08-2021,£740.51,Two-day,Cancelled
2,2,Raymond James,brownfred@example.com,21,Male,Sweeneyton,2,Electronics,Mobile Phones,534.75,40.74,6x30x30,2,2020-10-21,$1560.72,Two-day,Cancelled
3,3,Thomas Smith,anthonyleon@example.com,68,Female,Lake Matthew,3,Furniture,Cabinets,259.52,11.76,23x27x1,3,04-07-2022,$1876.08,Express,Pending
4,4,Matthew Lee,david54@example.org,66,Female,West Kristinbury,4,Clothing,T-Shirts,800.64,13.83,26x21x15,4,11/05/2022,£170.67,Standard,Pending
5,5,Charles Davis,charles60@example.com,27,Female,New Kenneth,2,Electronics,Mobile Phones,319.88,44.62,34x43x46,5,2021-11-17,€439.55,Two-day,Pending
6,6,Michael Gordon,hallashley@example.com,30,Male,Williamsland,6,Furniture,Chairs,509.78,25.00,13x44x24,6,17/09/2022,$3764.04,Standard,Pending
7,7,Alicia Wood,ovargas@example.org,19,Male,Marshallville,3,Furniture,Cabinets,511.68,28.10,30x12x12,7,10-10-2021,£1916.16,Two-day,Shipped
8,8,Jason Mcdaniel,phamilton@example.com,52,Male,North Gregoryton,8,Clothing,Shoes,85.79,4.69,45x38x15,8,25/02/2023,$1661.85,Two-day,Cancelled
9,9,Ernest Sherman,molly51@example.com,66,Female,Brownstad,9,Furniture,Beds,43.71,33.91,8x30x14,9,08-02-2021,£2305.72,Express,Cancelled
10,10,Diana Moore,diazlori@example.org,68,Female,Port Stephanie,10,Electronics,Laptops,63.67,28.14,12x32x36,10,05-01-2021,€4573.25,Two-day,Cancelled
11,11,Sara Lawrence,davidhayes@example.com,40,Male,Derrickburgh,11,Clothing,Hats,514.67,24.37,1x50x44,11,24/04/2021,€3996.36,Express,Cancelled
12,12,Misty Gray,deanna71@example.com,30,Male,Port Jasonville,12,Clothing,Dresses,692.54,27.00,29x23x31,12,02-01-2022,$342.03,Standard,Cancelled
13,13,Antonio Pruitt,rgutierrez@example.net,49,Male,South Sierratown,13,Electronics,Headphones,899.24,12.85,44x22x25,13,03-01-2023,€2272.86,Standard,Pending
14,14,Laurie Mckee,vwright@example.com,67,Female,South Benjaminland,3,Furniture,Cabinets,433.85,42.68,28x18x34,14,09-13-2021,€2603.36,Standard,Pending
15,15,Anthony Holland,cmoore@example.net,29,Male,East Elizabeth,1,Electronics,Cameras,47.35,36.32,50x42x16,15,05-09-2023,£4143.2,Standard,Shipped
16,16,Jessica Barber,robert54@example.net,34,Female,Newtontown,16,Furniture,Tables,120.26,7.19,50x5x41,16,02/05/2022,£2313.66,Standard,Shipped
17,17,William Hardy,hsmith@example.net,45,Female,New Terrimouth,0,Electronics,Smart Watches,851.75,36.72,20x20x9,17,02-14-2023,$726.0,Two-day,Shipped
18,18,Steven Thomas,becky02@example.com,54,Male,Camerontown,16,Furniture,Tables,455.83,7.23,2x9x31,18,04/02/2023,$244.74,Standard,Shipped
19,19,Amanda Thomas,caitlinkoch@example.net,35,Male,New Kathy,9,Furniture,Beds,479.38,1.96,19x25x18,19,01-16-2023,£763.98,Express,Delivered

In [70]:
dfm = pd.read_csv("data.csv", usecols = ['InventoryID',
       'StockLevel', 'RestockThreshold', 'LastRestockDate', 'WarehouseID',
       'Location_warehouse', 'Capacity', 'SupplierID', 'Company',
       'Location_Supplier', 'TotalAmount'])

In [71]:
dfm.sample(20)

,TotalAmount,InventoryID,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier
7374,€1063.78,7374,501,76,2020-09-28,109,Kennethshire,9152,3,Johnson-Rodriguez,Katherineborough
326,€1025.85,326,600,471,2022-02-07,108,West Jason,7100,4,"Salas, Gonzalez and Todd",Jessicashire
4500,$4981.15,4500,319,500,2022-06-09,352,North Melissa,5044,8,Parks-Gallegos,Jenkinsside
4301,$898.63,4301,274,388,2021-07-02,397,Port Catherineview,17948,0,Johnson-Rodriguez,Port Robynmouth
3075,£296.52,3075,747,311,2021-11-11,327,North Annview,13868,6,Morgan LLC,New Marktown
9695,$120.68,9695,412,71,2021-05-08,85,Jacquelineborough,15530,5,Morgan LLC,Port Robynmouth
2939,€52.02,2939,198,174,2022-04-13,98,Whitemouth,9656,9,Johnson-Rodriguez,Katherineborough
8871,$683.19,8871,173,462,2022-08-03,386,Adamsville,9263,0,Johnson-Rodriguez,Port Robynmouth
4212,$3341.44,4212,899,351,2021-09-04,380,West Angela,13355,8,Parks-Gallegos,Jenkinsside
6413,$246.23,6413,627,100,2020-12-03,302,Nathanland,17898,5,Morgan LLC,Port Robynmouth
2138,£1104.36,2138,304,389,2021-11-06,499,Port Bobbyfort,6962,0,Johnson-Rodriguez,Port Robynmouth
6742,€3525.05,6742,133,48,2021-12-04,340,South Kim,13347,5,Morgan LLC,Port Robynmouth
1947,$2475.57,1947,800,141,2021-11-23,249,New Amanda,11942,0,Johnson-Rodriguez,Port Robynmouth
6419,€59.94,6419,527,267,2021-05-19,252,Port Williamville,11266,2,Miller-Pearson,Clarkmouth
51,€2317.25,51,359,378,2022-01-12,353,Heatherside,11833,0,Johnson-Rodriguez,Port Robynmouth
3001,£2315.85,3001,947,437,2021-07-14,473,Jamieside,13668,0,Johnson-Rodriguez,Port Robynmouth
4934,€1314.78,4934,903,167,2021-10-17,188,West Jeremyberg,5869,1,"Salas, Gonzalez and Todd",Patriciaberg
1773,£830.37,1773,246,205,2021-01-14,248,West Valerieton,18050,2,Miller-Pearson,Clarkmouth
2513,£322.7,2513,131,293,2022-05-12,314,South Andreaborough,10918,8,Parks-Gallegos,Jenkinsside
4445,€1592.72,4445,737,272,2021-08-26,136,Jenniferfurt,7388,9,Johnson-Rodriguez,Katherineborough

In [44]:
df.Status.unique()

array(['Pending', 'Cancelled', 'Shipped', 'Delivered'], dtype=object)

In [28]:
df.sample(20)

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
4373,4373,Taylor Wheeler,klewis@example.com,63,Male,Coltonborough,48,Clothing,Jeans,509.23,...,204,482,2021-10-17,209,Austinville,9637,7,Miller Group,Clarkmouth,6.56
8654,8654,Adam Banks,cstone@example.org,41,Male,Marieberg,4,Clothing,T-Shirts,269.50,...,475,326,2021-08-28,183,Webbmouth,19125,9,Johnson-Rodriguez,Katherineborough,7.81
543,543,Krystal Benson,icherry@example.org,49,Female,East Kim,21,Furniture,Sofas,876.81,...,349,295,2021-01-07,63,Dayshire,13799,0,Johnson-Rodriguez,Port Robynmouth,NaN
5540,5540,Jennifer Johnson,rebeccacohen@example.net,30,Male,Port Billy,3,Furniture,Cabinets,310.59,...,389,304,2022-06-13,282,Rebekahfurt,8508,0,Johnson-Rodriguez,Port Robynmouth,NaN
9822,9822,Natasha Hall,kevinmathews@example.com,39,Female,New Robertside,11,Clothing,Hats,760.41,...,121,264,2020-11-12,484,Vanessaton,18454,5,Morgan LLC,Port Robynmouth,1.23
6512,6512,Todd Mejia,carrwilliam@example.net,40,Male,West Toddmouth,1,Electronics,Cameras,80.95,...,464,18,2021-04-16,297,Port Robert,17376,7,Miller Group,Clarkmouth,6.56
5351,5351,Brandon Armstrong,hillhaley@example.com,35,Male,North Lisa,48,Clothing,Jeans,745.26,...,584,188,2021-12-28,60,West Matthewhaven,10727,4,"Salas, Gonzalez and Todd",Jessicashire,2.35
827,827,Deanna Simpson,blake63@example.com,45,Male,Port April,21,Furniture,Sofas,458.67,...,452,30,2020-11-13,190,Suzannetown,5196,8,Parks-Gallegos,Jenkinsside,6.82
7433,7433,Jason Jenkins,markwalton@example.net,23,Female,Grayfort,12,Clothing,Dresses,416.81,...,663,32,2020-09-15,292,Jennifermouth,17353,0,Johnson-Rodriguez,Port Robynmouth,NaN
7385,7385,Ricky Woodard,cynthiahull@example.com,27,Male,West Ruth,12,Clothing,Dresses,223.65,...,838,388,2021-01-10,304,Shannonbury,14107,5,Morgan LLC,Port Robynmouth,1.23
2705,2705,Wendy Orozco,daviskyle@example.net,65,Female,North Amanda,12,Clothing,Dresses,668.91,...,370,86,2021-03-29,430,Port Richardmouth,7780,7,Miller Group,Clarkmouth,6.56
725,725,Jeffrey Griffin,davidmiller@example.com,46,Male,Penaview,21,Furniture,Sofas,969.76,...,896,454,2022-05-22,309,Rebeccastad,6076,7,Miller Group,Clarkmouth,6.56
975,975,Barbara Tucker,egaines@example.org,52,Female,Cherylburgh,6,Furniture,Chairs,221.50,...,106,473,2021-02-12,154,Lake Joshua,16444,0,Johnson-Rodriguez,Port Robynmouth,NaN
3017,3017,Thomas Spencer,hawkinscurtis@example.net,48,Female,Lake Zacharyberg,4,Clothing,T-Shirts,336.52,...,716,320,2021-03-01,206,Port Heatherhaven,17418,2,Miller-Pearson,Clarkmouth,9.83
7338,7338,Denise Russell,amber14@example.org,31,Female,South Benjaminland,4,Clothing,T-Shirts,836.15,...,254,464,2020-11-03,341,Dustinborough,14103,6,Morgan LLC,New Marktown,2.48
6903,6903,William Davis,bradleygonzalez@example.com,31,Male,West Albert,48,Clothing,Jeans,151.42,...,910,420,2022-03-30,324,North Pamelachester,10294,8,Parks-Gallegos,Jenkinsside,6.82
4717,4717,Dr. Devin Walls,russelltammy@example.net,52,Female,Harmonland,9,Furniture,Beds,653.33,...,25,416,2021-02-07,213,Bowmanhaven,9776,5,Morgan LLC,Port Robynmouth,1.23
4419,4419,Nicole Armstrong,ashaw@example.com,48,Female,Brianbury,12,Clothing,Dresses,531.44,...,452,96,2022-06-03,277,South Sarahland,17642,4,"Salas, Gonzalez and Todd",Jessicashire,2.35
622,622,Natalie Church,mezajeffrey@example.net,70,Male,Port Amandaton,16,Furniture,Tables,152.55,...,703,214,2022-06-14,10,Loganburgh,12104,8,Parks-Gallegos,Jenkinsside,6.82
5979,5979,Sarah Martinez,zstone@example.net,44,Female,South Holly,21,Furniture,Sofas,719.10,...,274,424,2021-06-27,1,North Samantha,11291,6,Morgan LLC,New Marktown,2.48

In [62]:
df.Dimensions.nunique()

9609

In [69]:
df.SupplierID.unique()

array([2, 8, 5, 0, 9, 7, 1, 3, 6, 4], dtype=int64)